/*
    PokerPound 1.0 old css

*/

@white: #FFFFFF;
@green: #9EC03B;
@orange: #F48744;
@blue: #189ECA;
@gray: #777574;
@lightGray: #ececec;
@black: #1C1C1C;
@darkBlue: #106E8D;
@darkGray: #4A4A4A;
@red: #D16565;

body {
  padding-top: 10px;
  padding-bottom: 40px;
  -webkit-perspective: 800px;
}

table {
  border-collapse: separate;
}

td {
  margin: 20px;
  padding: 20px;
  width: 50%;
}

td, #p0 {
  border: none;
  border-radius: 10px;
  -webkit-transition: border .2s, box-shadow .2s;
}

.card0, .card1 {
  width: 47px;
  height: 60px;
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
}
#leftcolumn:hover .card0,#leftcolumn:hover .card1 {
  -webkit-transform: rotateY(-.5turn);
}

/*.card0 div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.card0 ;
/*.card0:first-child, .card0:last-child, .card1:first-child, .card1:last-child,{
  width: 100%;
  height: 100%;
}*/


#footer{
clear: left;
width: 100%;
text-align: center;
padding: 4px 0;
}

#contentwrapper{
float: left;
width: 100%;
}

#contentcolumn{
margin-left: 200px; /*Set left margin to LeftColumnWidth*/
}

#leftcolumn{
float: left;
width: 25%; /*Width of left column*/
margin-left: -100%;
}

#result{
  font-size: 150%;
  font-weight: bold;
  color: maroon;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}



.jumbotron h1,
.jumbotron p {
text-align: center;
}

.jumbotron h2 {
  font-size: 1.4em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray;
}

.jumbotron p {
font-size: 1.4em;
}

.container .footer{ 
    width: 25%;
}

.form-signin {
  max-width: 35%;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  margin-top: 20px;
  background-color: #ececec;
  border: 2px solid #9EC03B;
  border-style: outset;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.form-signin h2 {
      text-align: center;
      margin-top: 0px;
}

.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

#messages {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  overflow: auto;
}

#messages p {
  border-top: 1px solid #eee;
  padding-top: 10px;
}

#messages .time {
  float: right;
}

#chat {
  position: relative;
  overflow:   none;
}

#table {
  background-image: url("../images/pokertable.png");
  background-color: white;
  background-size: 100% 100%;
}

#users {
  float: right;
}

#users ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#users li {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
}

#users li:first-child {
  border-top: 1px solid #eee;
}

/*#message-entry input {*/
/*  width: 100%;*/
/*}*/

@media (min-width: 768px) {
  form.navbar-form .form-group {
    margin-right: 10px;
  }
}

.red {
  color: red;
}

.card {
  background-color: white;
  position: absolute;
  left: 0;
  right: 0;  
  display: inline-block;
  margin: 3px 3px 3px 3px;
  width: 45px;
  height: 60px;
  border: 1px solid black;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateY(-180deg);
}

.blue {
color: blue;
z-index: 50;
-webkit-transform: rotateY(0deg);
}




.cc {
  width: 47px;
  height: 60px;
  position: relative;
  display: inline-block;
  -webkit-transition: -webkit-transform .5s ease-in;
  -webkit-transform-style: preserve-3d;
}
.cc .blue {
  background-color: white;
}
.ctop, .cbottom {
position: relative;
font: bold 13px Arial;
padding: 1px 3px 1px 3px;
width: 100%;
}

.ctop{
  text-align: left;
  margin-right: -6px;
}

.cbottom {

text-align: right;
margin-left: -6px;
}

.suit {
font: 19px "Gill Sans Ultra Bold";
width: 100%;
text-align: center;
}