
<div class="leaderBoard">
<div class="leaderBoardWrap">
	<h4> &nbsp Leader Board</h4>
	<table class="table table-border table-condensed">
		<tbody>
	        <tr ng-repeat="user in leaderList" ng-click="showPopup(email)">
	        	<td ng-class="{userLeader: username === user.username}"><div class="badge" ng-class="{userLeaderBadge: username === user.username}">{{$index + 1}}</div></td>
	            <td ng-class="{userLeader: username === user.username}">{{ user.username }}</td>
	            <td ng-class="{userLeader: username === user.username}">{{ user.balance | currency:"$":0}}</td>
	            <td ng-class="{userLeader: username === user.username}"><img  ng-src="images/quarter-size-{{ user.avatar }}" /></td>
	        </tr>
	        
	    </tbody>
	</table>

</div>
</div>