<div class="wrapper">
	
	{{user.profile.username}}<br>
	
	<a class="btn btn-primary btn-xs" ng-show="table.game.actionOn===undefined&&roomMaster===user.profile.username" ng-click="startGame()">Start Game</a><br>
	<a class="btn btn-primary btn-xs" ng-hide="table.game.actionOn===undefined||table.game.roundName!=='Showdown'||roomMaster!==user.profile.username" ng-click="newHand()">New Hand<br></a><br>
	Sitting: {{user.profile.sitting}}<br>
	Seat: {{user.profile.seat}}<br>
      <br>
      <br>
	<div class="tableBody">
		
	<div class="table">

	<ul>

		<li class = "seater" ng-repeat="seat in table.seats track by $index" ng-init="seatIndex = $index">
<!--action: table.players[table.game.actionOn].seat===$index&&table.game.roundName!=='Showdown', -->
			<seat class='seat' id='seat{{$index}}' index="{{$index}}" length="{{table.seats.length}}" ng-class="{action: table.players[table.game.actionOn].seat===$index&&table.game.roundName!=='Showdown', ppbutton: table.players[table.dealer].seat===$index, occupied: table.players[table.seats[$index]]}" ng-transclude>
				
				<img ng-show="table.players[table.seats[$index]]&&table.players[table.seats[$index]].user!=='bot'" ng-src="images/half-size-{{ userList[table.players[table.seats[$index]].user].avatar }}" class="seatAvatar nav-pic" />
				
				<h6 ng-show="table.seats[$index]!==false">
					{{ table.players[table.seats[$index]].playerName }}<br>
					<!--<span ng-show="table.players[table.seats[$index]].cards[0]">-->
						<img ng-show="table.players[table.seats[$index]].cards[0]" class='card' ng-src="images/PlayingCards/SVG/{{table.players[table.seats[$index]].cards[0]}}.svg" alt="table.players[table.seats[$index]].cards">
						<img ng-show="table.players[table.seats[$index]].cards[1]" class='card' ng-src="images/PlayingCards/SVG/{{table.players[table.seats[$index]].cards[1]}}.svg" alt="table.players[table.seats[$index]].cards"><br>
						<span ng-show="table.players[table.seats[$index]].folded">FOLDED</br></span>
					<!--</span>-->
					{{ table.players[table.seats[$index]].chips }}<br>

					<span class="btn-group actionButs" role="group" aria-label="action controls" ng-show="table.players[table.game.actionOn].seat===$index&&table.game.roundName!=='Showdown'&&user.uid===table.players[table.seats[$index]].user">
						<a class="btn btn-primary btn-xs" ng-click="call($index)"><span ng-show="table.game.maxBet > table.game.bets[table.seats[$index]]">Call</span><span ng-hide="table.game.maxBet > table.game.bets[table.seats[$index]]">Check</span>
						</a>
						<a class="btn btn-primary btn-xs"  ng-click="raise($index)">Raise
						</a>
						<a class="btn btn-primary btn-xs"  ng-click="fold($index)">Fold
						</a>
					</span>
				</h6>
				<span ng-show="seat===false">Seat {{$index}}<br></span>
				<a class="btn btn-primary btn-xs sCenter" ng-click="sitDown($index)" ng-show="!user.profile.sitting&&seat===false&&(table.game.actionOn===undefined || table.game.roundName==='Showdown')">Sit Down</a>
				
				<a class="btn btn-primary btn-xs sCenter" ng-click="addPlayer($index)" ng-show="user.profile.sitting&&seat===false&&roomMaster===user.profile.username&&(table.game.actionOn===undefined || table.game.roundName==='Showdown')">Add Player</a>
			
				<a class="btn btn-primary btn-xs sCenter" ng-click="removePlayer($index)" ng-show="user.profile.sitting&&seat!==false&&(table.game.actionOn===undefined || table.game.roundName==='Showdown')&&table.players[table.seats[$index]].user==='bot'&&roomMaster===user.profile.username">Remove Player</a>
				<h6 ng-show="table.game.bets[table.seats[$index]]">
					{{table.game.bets[table.seats[$index]]}}
				</h6>

			</seat>
		</li>
		<li>
			<br>
			<br>
			<br>
			<br>
			Pot: {{table.game.pot}}
			<br>
			<img ng-show="table.game.board[0]" class='card' ng-src="images/PlayingCards/SVG/{{table.game.board[0]}}.svg" alt="{{table.game.board[0]}}">
			<img class='card' ng-show="table.game.board[1]"ng-src="images/PlayingCards/SVG/{{table.game.board[1]}}.svg" alt="{{table.game.board[1]}}">
			<img class='card' ng-show="table.game.board[2]"ng-src="images/PlayingCards/SVG/{{table.game.board[2]}}.svg" alt="{{table.game.board[2]}}">
			<img class='card' ng-show="table.game.board[3]"ng-src="images/PlayingCards/SVG/{{table.game.board[3]}}.svg" alt="{{table.game.board[3]}}">
			<img class='card' ng-show="table.game.board[4]"ng-src="images/PlayingCards/SVG/{{table.game.board[4]}}.svg" alt="{{table.game.board[4]}}">
			<br>
			{{table.game.roundName}}
			<br>
			{{table.game.winners}}
		</li>

	</ul>
	</div>
	</div>
	
</div>
