<div class="auth-forms container">

  <h2>Register/Log In</h2>

  <form ng-submit="login()">
  	<p ng-show="error" class="text-danger">{{ error }}</p>
  	<input type="name" ng-model="user.username" placeholder="Username" class="form-control"><br>
    <!--<input type="e-mail" ng-model="user.email" value="{{user.username}}@{{user.username}}.com" class="form-control"><br>-->
    <input type="password" ng-model="user.password" placeholder="Password" class="form-control"><br>
	
	<div ng-init="user.avatar='assassin_avatar.png'">
    <input type="radio" ng-model="user.avatar" name="avatar" value="assassin_avatar.png"/> <img src="images/assassin_avatar.png" alt="Assasin Avatar">

    <input type="radio" ng-model="user.avatar" name="avatar" value="dad_avatar.png"/> <img src="images/dad_avatar.png" alt="Dad Avatar">
  
    <input type="radio" ng-model="user.avatar" name="avatar" value="v_avatar.png"/> <img src="images/v_avatar.png" alt="V Avatar">
    
    <input type="radio" ng-model="user.avatar" name="avatar" value="soldier_avatar.png"/> <img src="images/soldier_avatar.png" alt="Soldier Avatar">
    <input type="submit" value="Register" class="btn btn-primary" />
    </div>
    
  </form>
</div>